.navi-bar {
  display: flex;
  width: 100%;
  height: 4.5rem;
  justify-content: space-between;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 99;
  box-shadow: 1px 2px 1px 0px whitesmoke;
  align-items: center;
}

.navi-bar-logo,
.navi-bar-search-bar {
  /* font-size: rem; */
  font-weight: 500;
  padding: 0.5rem 1rem;
}

.navi-bar-loggedin-menu, .navi-bar-loggedout-menu {
  list-style: none;
  display: flex;
  margin: auto;
}
.navi-bar-loggedin-menu li {
  font-size: 1.7rem;
  padding: 0.5rem 1.3rem;
}
@media screen and (max-width: 600px) {
  .navi-bar-loggedin-menu li {
    font-size: 1.5rem;
    padding: 0.5rem 0.8rem;
  }
  
}
.navi-bar-loggedin-menu a {
  color: black;
}

.navi-bar-loggedout-menu {
    float: right;
    margin-right: 1rem;
}
.navi-bar-loggedout-menu li {
    margin-right: 2rem;
}



.logout {
  /* padding: 0.5rem 1rem; */
  display: inline;
  font-size: 1.5rem;
  cursor: pointer;
  background: transparent;
  border: none;
  margin-right: 1.5rem;
}




/* new */
.nav-icon-cont:focus{
 

}
.nav-icons{
  color: var(--secondaryColor);
}
.nav-icons:hover{
  color: var(--primaryColor);
}
.nav-icons:active{
  color: var(--primaryColor)
}
.icons-outer-cont:focus-within{
  border-bottom: 2px solid var(--secondaryColor);
}




.nblogo-cont{
  object-fit: cover;
  width: 10rem;
  margin-left: 2rem;
}
.nblogo-img{
  max-width: 100%;
}
.nblogo-cont-mob{
  object-fit: cover;
  width: 4rem;
  margin-left: 2rem;
  display: none;
}

@media screen and (max-width: 690px) {
  .nblogo-cont{
    object-fit: cover;
    width: 10rem;
    margin-left: 2rem;
    display: none;
  }
  .nblogo-img{
    max-width: 100%;
  }
  .nblogo-cont-mob{
    object-fit: cover;
    width: 3rem;
    margin-left: 0.6rem;
    display: inline-block;
  } 
}