.app{
  background-color: #f0f2f5;
}
.app-main-comp{
  display: grid;
  grid-template-columns: 1.5fr 5fr 2.5fr;
  margin-top: 5rem;
  height: 100%;
}

.app-main-comp-loggedout{
  margin-top: 5rem;
}

.to-center{
  margin: auto;
  width: fit-content;
}

/* Login page */
.login-outer{
  display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}